<html>
  <head>
    <link rel="stylesheet" href="formForAuthUser.css">
    
  </head>
  <body>
    <div class="HeaderBlock">
      <h2 class="subheader">Wellcome to</h2>
      <h1 class="header">SupWorker</h1>
    </div>
    <div class="inputsBlock">
      <div id="wrapTable"></div>
      <div class="testBlock">
        <span>Is test version</span>
        <label class="switch">
          <input id = "toggle" type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div id="errorMessage"></div>
    </div>
    <div id="contentBlock"></div>
    
    <script defer src="formForAuthUser.js"></script>
  </body>
</html>