<html>
  <head>
    <link rel="stylesheet" href="inputWindow.css">
    
  </head>
  <body>
    <label for="file" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Upload file
    </label>
    <div class="blockInput">
      <input id="idTable" type="text">
      <button id = "btnStart">start Srcipt</button>
    </div>
    <input id="file" type="file" accept=".json">
    <div class="testBlock">
      <span>Is test version</span>
      <label class="switch">
        <input id = "toggle" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div id="errorMessage"></div>
    <div id="contentBlock"></div>
    <div id = "preview"></div>
    <script defer src="inputWindow.js"></script>
  </body>
</html>