<html>
  <head>
    <link rel="stylesheet" href="inputWindow.css">
    
  </head>
  <body>
    <div class="HeaderBlock">
      <h2 class="subheader">Wellcome to</h2>
      <h1 class="header">SupWorker</h1>
    </div>
    <div class="inputsBlock">
      <h2 class="subheader descr">You can download json file or enter the form</h2>
      <div class="wrapInputs">
        <label for="file" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i>
            <img src="../../assets/icons/iconJson.png" alt="">
        </label>
        <input id="file" type="file" accept=".json">
        <h2 class="subheader">OR</h2>
        <div id="blockInput">
          <span id = "regectReq"></span>
          <input id="idTable" type="text" maxlength="44" placeholder="ID table (44 char)">
          <select id = 'select'></select>
          <button id = "btnStart">GO</button>
        </div>
      </div> 
      <div class="testBlock">
        <span>Is test version</span>
        <label class="switch">
          <input id = "toggle" type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div id="errorMessage"></div>
    </div>
    <div id="contentBlock"></div>
    <div id = "preview"></div>
    
    <script defer src="inputWindow.js"></script>
  </body>
</html>